In [1]:
import pandas as pd
import numpy as np

In [2]:
names = ["Elec", "PAKDD", "KDDCup"]
w_len= 5000
rates = {}

dfs = {}


for name in names:
    print(name)
    dfs[name] = pd.read_csv(f"{name}.csv", header = None)

Elec
PAKDD
KDDCup

In [20]:
df = dfs["KDDCup"]

In [21]:
len(df)

494021

In [22]:
df[df.columns[-1]].value_counts()[0]/len(df)

0.8030893423558918

In [23]:
df[df.columns[-1]].value_counts()[1]/len(df)

0.19691065764410826

### SLIDING WINDOW

In [51]:
names = ["Elec", "PAKDD", "KDDCup"]
w_len= 5000
rates = {}

dfs = {}


for name in names:
    print(name)
    dfs[name] = pd.read_csv(f"{name}.csv", header = None)

for name,df in dfs.items():
    
    
    window = np.zeros(shape=(w_len,))
    i = 0
    IR = []
    for index, row in df.iterrows():
        window[i] = row[df.columns[-1]]

        ones = len(window[window==1])
        zeros = len(window[window==0])

        if index < w_len:
            IR.append(ones/(index + 1))
        else: 
            IR.append(ones/w_len)
        if index % w_len == 0:
            print(index)
        i = (i + 1) % w_len
    rates[name] = IR

Elec
PAKDD
KDDCup
0
5000
10000
15000
20000
25000
30000
35000
40000
45000
0
5000
10000
15000
20000
25000
30000
35000
40000
45000
0
5000
10000
15000
20000
25000
30000
35000
40000
45000
50000
55000
60000
65000
70000
75000
80000
85000
90000
95000
100000
105000
110000
115000
120000
125000
130000
135000
140000
145000
150000
155000
160000
165000
170000
175000
180000
185000
190000
195000
200000
205000
210000
215000
220000
225000
230000
235000
240000
245000
250000
255000
260000
265000
270000
275000
280000
285000
290000
295000
300000
305000
310000
315000
320000
325000
330000
335000
340000
345000
350000
355000
360000
365000
370000
375000
380000
385000
390000
395000
400000
405000
410000
415000
420000
425000
430000
435000
440000
445000
450000
455000
460000
465000
470000
475000
480000
485000
490000

### STEPS

In [83]:
step = 5000
names = ["Elec", "PAKDD", "KDDCup"]

rates = {}

for name,df in dfs.items():
    rates[name] = {}
    IR = []
    instances = []
    i = 0
    while i * step < len(df):
        if 1 not in df.iloc[i*step:(i+1)*step][df.columns[-1]].value_counts():
            ones = 0
            print(df.iloc[i*step:(i+1)*step][df.columns[-1]].value_counts())
        else:
            ones = df.iloc[i*step:(i+1)*step][df.columns[-1]].value_counts()[1]
        tot = len(df.iloc[i*step:(i+1)*step])
        
        IR.append(ones/tot)
        instances.append(df.iloc[i*step:(i+1)*step].index[-1] +1)
        i += 1
    rates[name]["rates"] = IR
    rates[name]["instances"] = instances

Elec
PAKDD
KDDCup
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64
0    5000
Name: 41, dtype: int64

In [84]:
import csv
with open('Real_Imbalance_rates_step5000.csv', 'w') as csv_file:  
    writer = csv.writer(csv_file)
    writer.writerow(["dataset","instances","ones%"])
    for ds, ir_dict in rates.items():
        for i,r in enumerate(ir_dict["rates"]):
            writer.writerow([ds,ir_dict["instances"][i],r])

In [59]:
rates["Elec"][45300]

0.4628

In [74]:
dfs["Elec"].iloc[45000:50000][8].index[-1]

45311